<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pagina Admin</title>
     <link rel="stylesheet"  href="/css/home.css">
</head>
<body>
	<div>
		<h1 th:text="'Gestisci la galleria '"></h1>
		<a class="first" href="/admin/addPainting">Aggiungi Opera</a>
		<a class="second" href="/admin/addArtist">Aggiungi Autore</a>
		<a class="third" href="/admin/paintings">Rimuovi Opera</a>
		<a class="fifth" href="/home">Home Page</a>
		<a class="fourth" href="/admin/artists">Rimuovi Autore</a>

	</div>
</body>
</html>