<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Galleria SIW</title>
    <link rel="stylesheet"  href="/css/home.css">
</head>
<body>
	<div>
		<h1 th:text="'Benvenuto, ' + ${user.firstName} + '!'"></h1>
		<a sec:authorize="hasAuthority('ADMIN')" href="/admin" class="first">Pagina Admin</a>
		<a href="/researchPainting" class="second">Ricerca un dipinto</a>
		<a href="/users/me" class="third">Profilo</a>
		<form class="fourth" form-method="post" th:action="@{/logout}">
			<a href="/logout" onclick="document.getElementById('logout').submit();"> Logout</a>
		</form>
	</div>
</body>
</html>