<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet"  href="/css/list.css">
</head>
<body>
   <a id="back" href="/admin" class="btn btn-outline-success">Indietro</a>
	<h1>Rimuovi o visualizza gli autori</h1>
    <div >
      <ul class="list" th:each="artist : ${artists}">
        <a th:href="@{'/artistById/{id}'(id=${artist.id})}" class="btn btn-outline-success" th:text="${artist.firstName}">
        </a>
          <form method="POST" sec:authorize="hasAuthority('ADMIN')" th:action="@{/admin/artists/{id}/remove(id=${artist.id})}">
           <button type="submit" class="btn btn-outline-danger" name="submit" value="value"> Elimina </button>                 
          </form>
      </ul>
    </div>
</body>
</html>