<!DOCTYPE html>
<html lang="it" xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Galleria SIW</title>
<link rel="stylesheet"  href="/css/home.css">
</head>
<body>
	 <a id="back" href="/home" class="fourth">Home Page</a>
	<div>
		<h1 th:text="'Effettua la tua ricerca'"></h1>
		<a class="first" href="/allPaintings">Tutti i dipinti</a>
		<a class="second" href="/researchYear">Ricerca per anno</a>
		<a class="third" href="/researchArtist">Ricerca per autore</a>
 	</div>
</body>
</html>