<!DOCTYPE html>
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Galleria SIW</title>
    <link rel="stylesheet"  href="/css/painting.css">
</head>
<body>
<aside class="profile-card">
  <header>
    <a target="_blank" href="/img/avatar.jpg/#}">
      <img th:src="@{/img/avatar.jpg}" class="hoverZoomLink">
    </a>
    <h1>
            <p th:text="${artist.firstName}+ ' ' + ${artist.lastName}" />
          </h1>
    <h2>
            <p th:text="'Nazione: ' + ${artist.nation}" />
            <p th:text="'Data di nascita: ' + ${artist.dateOfBirth}" />
            <p th:if="${artist.dateOfDeath ne null}" th:text="'Data di morte: ' + ${artist.dateOfDeath}" />
          </h2>
  </header>
  <div class="home">
    <a href="/home" class="homeB">Home Page</a>
  </div>
</aside>
</body>
</html>


