<!DOCTYPE html>
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Galleria SIW</title>
    <link rel="stylesheet"  href="/css/painting.css">
</head>
<body>
<aside class="profile-card">
  <header>
    <a target="_blank" href="/img/painting.jpg/#}">
      <img th:src="@{/img/painting.jpg}" class="hoverZoomLink">
    </a>
    <h1>
            <p th:text="${painting.title}" />
          </h1>
    <h2>
            <p th:text="'Anno: ' + ${painting.year}" />
            <p th:text="'Tecnica: ' + ${painting.technique}" />
            <p th:text="'Dimensioni: ' + ${painting.size}" />
            <p th:text="'Autore: ' + ${painting.artist.firstName}+ ' ' + ${painting.artist.lastName}" />
          </h2>
  </header>
  <div class="home">
    <a href="/home" class="homeB">Home Page</a>
  </div>
</aside>
</body>
</html>


