<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Galleria SIW</title>
    <link rel="stylesheet"  href="/css/userProfile.css">
</head>

<body>

<aside class="profile-card">
  <header>
    <a target="_blank" href="/img/avatar.jpg/#">
      <img th:src="@{/img/avatar.jpg}" class="hoverZoomLink">
    </a>
    <h1>
            <p th:text="${credentials.userName}"></p>
          </h1>
    <h2>
            <p th:text="${user.firstName + ' ' + user.lastName}"></p>
          </h2>
  </header>
  <div class="profile-bio">
    <p th:text="${credentials.role}">
    </p>
  </div>
  <div class="home">
    <a href="/home" class="homeB">Home Page</a>
  </div>
</aside>

  

</body>
</html>